<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kf.plt.admin.sysmgnt.mapper.GroupLevelMapper">
    <resultMap id="BaseResultMap" type="kf.plt.admin.sysmgnt.entity.GroupLevel">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="level_id" jdbcType="VARCHAR" property="levelId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="order_code" javaType="INTEGER" property="orderCode"/>
    </resultMap>
    <select id="selectAllGroupLevel" resultMap="BaseResultMap">

    </select>
</mapper>