<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kf.plt.admin.sysmgnt.mapper.ResourceAuthorityMapper">
  <resultMap id="BaseResultMap" type="kf.plt.admin.sysmgnt.entity.ResourceAuthority">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="resource_authority_id" jdbcType="VARCHAR" property="id" />
    <result column="authority_id" jdbcType="VARCHAR" property="authorityId" />
    <result column="authority_type" jdbcType="VARCHAR" property="authorityType" />
    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="crt_time" jdbcType="DATE" property="crtTime" />
    <result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_host" jdbcType="VARCHAR" property="crtHost" />
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
    <result column="attr6" jdbcType="VARCHAR" property="attr6" />
    <result column="attr7" jdbcType="VARCHAR" property="attr7" />
    <result column="attr8" jdbcType="VARCHAR" property="attr8" />
    <result property="tenantId" column="tenant_id"/>
    <result property="type" column="type"/>
  </resultMap>
  <delete id="deleteByAuthorityIdAndResourceType">
    delete from kf_sec_resource_authority where authority_id = #{authorityId} and resource_type = #{resourceType} and type = #{type}
  </delete>
  <select id="selectResourceByRoleId" resultMap="BaseResultMap">
    select * from kf_sec_resource_authority where authority_id=#{authorityId} and (resource_type = 'button' or resource_type = 'data')
  </select>
  <select id="deleteByResourceId">
    DELETE from kf_sec_resource_authority where  resource_id in (${resourceId }) and authority_id = #{authorityId}
  </select>
  <insert id="insertData" parameterType="kf.plt.admin.sysmgnt.entity.ResourceAuthority" timeout="20">
    INSERT INTO kf_sec_resource_authority ( resource_authority_id,authority_id,authority_type,resource_id,resource_type,parent_id,path,description,type,crt_time,crt_user,crt_name,crt_host )
    VALUES( #{id}, #{authorityId}, #{authorityType}, #{resourceId}, #{resourceType}, #{parentId}, #{path}, #{description}, #{type}, #{crtTime}, #{crtUser}, #{crtName}, #{crtHost})
  </insert>
</mapper>