<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kf.plt.admin.auth.module.client.mapper.DataControlMapper" >
  <resultMap id="BaseResultMap" type="kf.plt.admin.auth.module.client.entity.DataControl" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="row_sql" property="rowSql" jdbcType="VARCHAR" />
    <result column="column_sql" property="columnSql" jdbcType="VARCHAR" />
    <result column="mapper_code" property="mapperCode" jdbcType="VARCHAR" />
    <result column="mapper_method" property="mapperMethod" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="VARCHAR" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="VARCHAR" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByUserId" resultMap="BaseResultMap">
    select * from kf_sec_data_control c where c.id in
    (SELECT  t.resource_id from kf_sec_resource_authority t
    where t.resource_type='data'
    and t.authority_id in  (SELECT role_id  FROM kf_sec_role_user a where a.user_id=#{userId}))
    and c.mapper_code=#{mapCode} and c.mapper_method=#{mapMethod}
  </select>
</mapper>